<div>
        <h1 class="mt-5 mx-5 mb-3">Delete Offer</h1>
        <div class="d-flex justify-content-center">
                <div class="mt-5 mb-5 mx-5 add-category-form">
                        <div class="mb-2">
                                <div class="text-center msg">{{message}}</div>
                                <div class="text-center msg0">{{message2}}</div>
                        </div>
                        <form [formGroup]="delete">
                                <div class="form-group">
                                        <label for="offer">Offer:</label>
                                        <div class="custom-select">
                                                <select id="offer" formControlName="id">
                                                        <option value="" disabled selected>Select an offer...</option>
                                                        <option *ngFor="let o of offers" [value]="o.id">{{o.description}}</option>
                                                </select>
                                        </div>
                                </div>
                                <input style=" border-radius: 5px;" (click)="submit()" [disabled]="delete.invalid" type="submit" value="Delete Offer">
                        </form>
                </div>
        </div>
</div>